.facebook
  .facebook__login
    %h2= t('workarea.storefront.facebook_login.login_with_faceook')
    %p= t('workarea.storefront.facebook_login.login_with_facebook_description')
    #fb-root
      = link_to t('workarea.storefront.facebook_login.connect_with_facebook'), Workarea::FacebookLogin.auth_path, id: 'facebook', class: 'button'
