.facebook
  .facebook__login
    %h2 Log In with Facebook
    %p Use your Facebook account to log into our website.
    #fb-root
      %p#login= link_to 'Connect With Facebook', auth_facebook_path, id: 'facebook', class: 'button'
