.box.facebook
  %h2 Facebook
  .data-card
    .data-card__cell
      - if @user.is_omniauthed?
        %p You are connected with Facebook
        .facebook__logout
          = link_to 'Disconnect from Facebook', logout_path, id: 'facebook', class: 'button--small'
      - else
        %p You are not connected with Facebook
        .facebook__login
          = link_to 'Connect with Facebook', auth_facebook_path, id: 'facebook', class: 'button--small'
